services:
  api:
    build: 
      context: taskmaster-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - taskmaster-api/.env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
